{% extends "navbar.html" %}
{% block content %}

<body
  style="background-image: url(/static/stack-books-with-glasses-wooden-desk.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center; overflow: scroll;">
  <h1 style="color: black; font-weight: 900;">
  Library Management</h1>
  <br>
  <p
    style="color: Black; font-size: x-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <em>Everything you need for better future and success has already been written. And guess what? All you have to do
      is go to
      the library.</em></p>

</body>
{% endblock %}