{% extends "studentnavbar.html" %}

{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/bkauthor" method="post">
                <input type="text" placeholder="Search Book" name="aname">
                <button class="btn-success" type="submit">search</button>
            </form>
        </div>
    </div>
</div>



{% for books in books%}

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-7">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Name  : {{books[1]}}</h5>
                    <h5 class="card-title">Author  : {{books[2]}}</h5>
                    <h5 class="card-title">ISBN  : {{books[3]}}</h5>
                    <h5 class="card-text">Description  : {{books[4]}}</h5>
                    <h5 class="card-text">Quantity Avaliable  : {{books[5]}}</h5>
                    <form action="/studentregister"  method="post">     
                        <input id="bookformid" type="text" class="form-control" name="bname" value={{books[0]}}>
                        
                        <button type="submit" class="btn btn-primary">Register Book
                        </button>
                    </form>                
                </div>
            </div>
        </div>  
    </div>
</div>
<br>
{% endfor %}
{% endblock %}