{% extends "studentnavbar.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid max-width: 100%" src="/static/73Z_2108.w023.n001.896B.p1.896.jpg" alt="book">
      </div>

      <div class="col-md-4">
        <img class="img-fluid max-width: 100%" src="/static/6607.jpg" alt="book">
      </div>

      <div class="col-md-4">
        <img class="img-fluid max-width: 100%" src="/static/laptop-computer-book-workplace-library-room.jpg" alt="book">
      </div>
    </div>
  </div>

  <br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid max-width: 100%" src="/static/73Z_2108.w023.n001.896B.p1.896.jpg" alt="book">
      </div>

      <div class="col-md-4">
        <img class="img-fluid max-width: 100%" src="/static/6607.jpg" alt="book">
      </div>

      <div class="col-md-4">
        <img class="img-fluid max-width: 100%" src="/static/laptop-computer-book-workplace-library-room.jpg" alt="book">
      </div>
    </div>
  </div>


  <br>


  {% endblock %}

