<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href='/static/navbar.css'>
    
    <title>welcome home</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    
    <nav class="navbar navbar-expand-md ">
      <a class="navbar-brand" href="#">MY Library</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('studenthome')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('bookshow')}}">Books</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('bookinhold')}}">Books In Hold</a>
          </li>
          </ul>
          <ul class="navbar-nav ml-md-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome: Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
          
        </ul>
      </div>
    </nav>
    
    <br>
    <!-- home page work -->

{%block content%}

{% endblock %}

     <!-- Footer -->
     <footer>
      <div id="footer1">
      <div  class="container">
        <div  class="row">
          <div class="col-md-4">
            <a href="{{url_for('showstudentupdateProfileInfo')}}">Update Your Profile</a>
          </div>
          <div class="col-md-4">
            <ul class="list-group">
              <li class="list-group-item footerLink"><a href="{{url_for('bookshow')}}">Books</a></li>
              <li class="list-group-item footerLink"><a href="{{url_for('booksearchbyname')}}">book by name</a> </li>
              <li class="list-group-item footerLink"><a href="{{url_for('booksearchbyauthor')}}">book by author</a> </li>
              
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-group">

              <li class="list-group-item footerLink"><a href="{{url_for('booksearchbyisbn')}}">book by isbn</a> </li>
              <li class="list-group-item footerLink"><a href="{{url_for('booksearchsubject')}}">book by subject</a> </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
      <div id="footer2">
      <!-- Copyright -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-copyright text-center py-3">© 2022 Copyright:
              <a href="#"> abdullahLibrary.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    </footer>    
    
    
    
   

   
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

     </body>
</html>


